#container{
    font-family: cursive;
    width: 1050px;
    border: 1px solid grey;
    margin: 0 auto;
}
h2 a{
    font-weight: 100;
    color: #816bbf;
    text-decoration: none;
}
#header{
    height: 100px;
}
#brand{
    float:left;
}
#searchBox{
    float: right;
    background:linear-gradient(grey,lightgrey);
    width: 400px;
    height:50px;
    padding: 20px 20px 0px 20px;
    margin-top: 20px;
}
.text{
   float: left;
   width: 200px;
   padding: 5px;
   font-size: 15px;
   color:#e36a0c;

}
.button{
    float: right;
    padding: 5px;
    font-weight: bold;
    font-color:white;
    background: #a751d6;
    font-size: 15px;
}
.clear{
    clear:both;
}
#menu{
    height: 70px;
    background:linear-gradient(grey,lightgrey);
    padding: 7px 0;
}
ul{
    list-style: none;
}
#menu ul li{
    float: left;
    padding: 0 30px;
    height: 30px;
    border-right: 1px solid #5d12e7;
}
#menu ul li:last-child{
    border-right: none;
}
#menu ul li a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 17px;
    color: #5d12e7;
    line-height: 30px;
    -webkit-transition: font-size 0.3s ease;
    -moz-transition: font-size 0.3s ease;
    -o-transition: font-size 0.3s ease;
    -ms-transition: font-size 0.3s ease;
    transition: font-size 0.3s ease;
}
#menu ul li a:hover {
    font-size: 20px;
    font-weight: bold;
    color:#b314db;
}
#menu ul li a.active{
    font-size: 20px;
    font-weight: bold;
    color:#b314db;
}
#content{
    text-align: center;
}
